
.pollContainer{
    display: flex;
    justify-content: space-around;
}

.optionVoted{
    border: 2px solid green;
    color: green;
}

.optionNotVoted{
    border: none;
    color: black;
}

.firstPlace{
    color:gold;
}

.secondPlace{
    color: silver;
}

.thirdPlace{
    color: brown;
}